aniso8601==8.1.1
attrs==20.3.0
Authlib==0.15.3
bidict==0.21.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.5
dnspython==1.16.0
eventlet==0.30.2
flasgger==0.9.5
Flask==1.1.2
Flask-Cors==1.10.3
Flask-Login==0.5.0
Flask-RESTful==0.3.8
Flask-SocketIO==5.0.1
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mistune==0.8.4
pycparser==2.20
pymodm==0.4.3
pymongo==3.11.3
pyrsistent==0.17.3
python-engineio==4.0.1
python-socketio==5.1.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
shortuuid==1.0.1
six==1.15.0
urllib3==1.26.3
Werkzeug==1.0.1
